[submodule "vendor/irmago"]
	path = vendor/irmago
	url = https://github.com/privacybydesign/irmago
[submodule "vendor/kratos-selfservice-ui-node"]
	path = vendor/kratos-selfservice-ui-node
	url = git@github.com:ory/kratos-selfservice-ui-node.git
