{
	#local_certs
}

{$CADDY_OIDC_HOST} {
	reverse_proxy http://hydra:4444
}

{$CADDY_YIVI_SERVER_HOST} {
	reverse_proxy http://irma_server:8088
}

{$CADDY_YIVI_FRONTEND_HOST} {
	reverse_proxy http://yivi_consent_node:3000
}

{$CADDY_DEMO_APP_HOST} {
	@kratos_paths {
		path /self-service*
		path /sessions*
		path /.well-known*
	}

	handle_path /ui* {
		reverse_proxy http://kratos-selfservice-ui-node:4455
	}

	handle @kratos_paths {
		reverse_proxy http://kratos:4433
	}

	handle {
		reverse_proxy http://ory_auth_demo:3000
	}
}
